{% extends "store/base.html" %}

{% block title %}Gamestore - GameTitle{% endblock %}

{% block content %}
    <iframe src="{{ remote_server }}" id="iframe"></iframe>
    
    <script type="text/javascript">
        window.addEventListener("message", reciver, false)

        function reciver(e) {
            var gamescore = parseInt(e.data.score);
            var middlewaretoken = "{{ csrf_token  }}";    
            if(e.data.messageType === "SCORE")
                $('#lastscore').text(gamescore);

            if (e.data.messageType === "SETTING") {
                var width = e.data.options.width;
                var height = e.data.options.height;
                if(!isNaN(width)){
                    if(width>800){
                        width = 800;
                    }else if(width<40){
                        width = 40;
                    }
                    $('#iframe').css('width',width);
                }
                if(!isNaN(height)){
                    if(height>600){
                        height = 600;
                    }else if(height<40){
                        height = 40;
                    }
                    $('#iframe').css('height',height);
                }
            }
            else if(e.data.messageType === "SCORE")
                
                $.ajax({
                    url: "#",
                    type: "POST",
                    data: {Score: gamescore, csrfmiddlewaretoken: middlewaretoken},

                    success: function() {
                        console.log(e.data);
                        console.log("success");
                    },
                    error : function(xhr,errmsg,err) {
                        console.log(errmsg);
                        console.log(xhr.status + ": " + xhr.responseText);
                }});
            else if(e.data.messageType === "SAVE")
                alert(e.data.gameState.score);
            else if(e.data.messageType === "LOAD")
                alert(e.data.messageType);
            else if(e.data.messageType === "LOAD_REQUEST")
                alert(e.data.messageType);
            else if(e.data.messageType === "ERROR")
                alert(e.data.messageType);
            else alert('Wtf?'+ e.data.messageType)
            
            console.log(e);
        };
    </script>
    
    <div id="highscore" style="float: right; width:30%; border:2px black; padding: 10px;">
        <h2>Highscores</h2>
        
        {% for score in highscores %}
            <ol>{{forloop.counter}}. {{ score.score }}</ol>
        {% endfor %}
    </div>
    <div>Last Score: <span id='lastscore'>0</span></div>
{% endblock %}