{% extends "store/base.html" %}

{% block title %}Gamestore - GameTitle{% endblock %}

{% block content %}
<div class="p-5 row">
    <div class="col-md-9 embed-responsive embed-responsive-16by9">
        <iframe id="iframe" class="embed-responsive-item" src="{{ remote_server }}"></iframe>
    </div>
    <div class="col-md-3 text-center">
        {% if top_highscores %}
        <h3>Top 5</h3>
        <table class="table">
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Score</th>
            </tr>
            {% for score in top_highscores %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ score.user }}</td>
                <td>{{ score.score }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <p>Show all <a href="{% url 'leaderboard' game_title=game_title %}">Highscores</a></p>
        <p>Your last score: <span id='lastscore'>0</span></p>
    </div>
</div>



    <script type="text/javascript">
        window.addEventListener("message", reciver, false)

        function reciver(e) {
            var gamescore = parseInt(e.data.score);
            var middlewaretoken = "{{ csrf_token  }}";
            if(e.data.messageType === "SCORE")
                $('#lastscore').text(gamescore);

            if (e.data.messageType === "SETTING") {
                var width = e.data.options.width;
                var height = e.data.options.height;
                if(!isNaN(width)){
                    if(width>800){
                        width = 800;
                    }else if(width<40){
                        width = 40;
                    }
                    $('#iframe').css('width',width);
                }
                if(!isNaN(height)){
                    if(height>600){
                        height = 600;
                    }else if(height<40){
                        height = 40;
                    }
                    $('#iframe').css('height',height);
                }
            }
            else if(e.data.messageType === "SCORE")

                $.ajax({
                    url: "#",
                    type: "POST",
                    data: {Score: gamescore, csrfmiddlewaretoken: middlewaretoken},

                    success: function() {
                        console.log(e.data);
                        console.log("success");
                    },
                    error : function(xhr,errmsg,err) {
                        console.log(errmsg);
                        console.log(xhr.status + ": " + xhr.responseText);
                }});
            else if(e.data.messageType === "SAVE")
                alert(e.data.gameState.score);
            else if(e.data.messageType === "LOAD")
                alert(e.data.messageType);
            else if(e.data.messageType === "LOAD_REQUEST")
                alert(e.data.messageType);
            else if(e.data.messageType === "ERROR")
                alert(e.data.messageType);
            else alert('Wtf?'+ e.data.messageType)

            console.log(e);
        };
    </script>
{% endblock %}