<meta name="author" content="">
<link rel="icon" href="../../../../favicon.ico">

<title>{{ title }}</title>

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">

<style type="text/css">
  html,
  body {
    height: 100%;
  }

  body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .gamestore_logo {
    color: #000;
    text-align: center;
  }

  :root #content > #right > .dose > .dosesingle,
  :root #content > #center > .dose > .dosesingle
  { display: none !important; }</style>
</head>

<body class="bg-light">

  {% include content %}

</body>
</html>
