{% extends "store/base.html" %}

{% block title %}Gamestore - Home{% endblock %}

{% block content %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron bg-light">
    <div class="container">
      <h1 class="display-2">Welcome to GameStore</h1>
    </div>
  </div>
  <div class="jumbotron p-3">
    <div class="container">
      <h1 class="display-4">Featured games</h1>
      {% if featured_games %}
      <div class="album my-5">
        <div class="container">
          <div class="row">
            {% for game in featured_games %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow bg-light">
                <img class="card-img-top" src="{{ game.thumbnail.url }}" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text"><strong>{{ game.title }}</strong><br>{{ game.description }}</p>
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
          </div>
          <div class="row">
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% else %}
      <div class="alert mt-5 pt-5" role="alert">
        <p class="text-center"><strong>No games in store yet</strong></a></p>
      </div>
      {% endif %}
    </div>
  </div>


</main>

<script>
    $("li.homepage").addClass("active")
</script>
{% endblock %}
