{% extends "store/base.html" %}

{% block title %}Gamestore - Library{% endblock %}

{% block content %}
<main role="main">

  {% if user.is_authenticated %}
    <!--Purchased Games-->
  <div class="p-0 mt-5">
    <div class="album pt-3 pb-5 bg-light">
      <div class="container">
        <h1 style="color: darkslategrey;">Purchased Games</h1>
        <div class="row">
          {% if purchased_games %}
            {% for game in purchased_games %}
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{{ game.thumbnail.url }}" style="height: 225px; width: 100%; display: block;" onclick='window.location="localhost:8000/gaming/game/{{ game.title }}/"'>
                    <div class="card-body">
                      <p class="card-text"id="game"><strong>{{ game.title }}</strong><br>{{ game.description }}</p>
                      <p>Developer: {{ game.developer }}</p>
                      <div class="col-md-12 btn-group">
                        <button type="button" class="col-md-3 btn btn-sm btn-outline-secondary play" onclick='window.location="localhost:8000/gaming/game/{{ game.title }}/"'>play</button>
                        <button type="button" class="col-md-6 btn btn-sm btn-outline-secondary leaderboard">Leaderboard</button>
                        <button type="button" class="col-md-3 btn btn-sm btn-outline-secondary share">Share</button>
                      </div>
                    </div>
                  </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                  </div>
                  <div class="row">
                {% endif %}
            {% endfor %}
          {% endif %}
        </div> <!--row-->
      </div> <!--container-->
    </div> <!--album-->

    <!--Developed Games-->
    {% if user.is_developer %}
      <div class="album pt-3 pb-5 bg-light">
        <div class="container">
          <h1 style="color: darkslategrey;">Inventory</h1>
          <div class="row">
            {% if purchased_games %}
            {% for game in purchased_games %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ game.thumbnail.url }}" style="height: 225px; width: 100%; display: block;" onclick='window.location="localhost:8000/gaming/game/{{ game.title }}/"'>
                <div class="card-body">
                  <p class="card-text"><strong>{{ game.title }}</strong><br>{{ game.description }}</p>
                  <p>Developer: {{ game.developer }}</p>
                  <div class="col-md-12 btn-group">
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-secondary play" onclick='window.location="localhost:8000/gaming/game/{{ game.title }}/"'>Play</button>
                    <button type="button" class="col-md-6 btn btn-sm btn-outline-secondary leaderboard">Leaderboard</button>
                    <button type="button" class="col-md-3 btn btn-sm btn-outline-secondary share">Share</button>
                  </div>
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
          </div>
          <div class="row">
            {% endif %}
            {% endfor %}
            {% endif %}
          </div> <!--row-->
        </div> <!--container-->
      </div> <!--album-->
    {% endif %}
  </div>
  {% else %}
    <div class="alert mt-5 pt-5" role="alert">
      <p class="text-center"><strong>No!</strong> Please <a href="{% url 'login' %}">log in</a> to view library content</p>
    </div>
  {% endif %}

</main>

<script>
    $("li.library").addClass("active")
    $('.card-img-top').hover(function(){
        $(this).css({"transition": "opacity .5s ease-in-out", "opacity": "0.5"});
    }, function(){
        $(this).css("opacity", "1");
    });
    $(".leaderboard").click(function() {
        alert( "Show leaderboard" );
    });
    $(".share").click(function() {
        alert( "Share on social media" );
    });
</script>
{% endblock %}

