{% extends "store/base.html" %}

{% block title %}Gamestore - Library{% endblock %}

{% block content %}
<main role="main">

{% if user.is_authenticated %}
  <!--Purchased Games-->
  {% if purchased_games %}
    <div class="album my-5 bg-light">
      <div class="container">
        <h1 class="text-center mb-3" style="color: darkslategrey;">Purchased games</h1>
          <div class="row">
            {% for game in purchased_games %}
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="{{ game.thumbnail.url }}" style="height: 225px; width: 100%; display: block;">
                  <div class="card-body">
                    <p class="card-text"><strong>{{ game.title }}</strong><br>{{ game.description }}</p>
                    <div class="row">
                        <a href="{% url 'play' game_title=game.title %}" class="btn btn-sm btn-outline-secondary offset-1 col-md-4">Play</a>
                        <a href="{% url 'leaderboard' game_title=game.title %}" class="btn btn-sm btn-outline-secondary offset-1 col-md-4">Leaderboard</a>
                    </div>
                  </div>
                </div>
              </div>
            {% if forloop.counter|divisibleby:3 %}
              </div>
              <div class="row">
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
  <div class="alert mt-5 pt-5" role="alert">
    <p class="text-center"><strong>Your game library is empty.</strong> Buy games in <a href="{% url 'store' %}">store.</a></p>
  </div>
  {% endif %}

  {% if developer_games %}
    <div class="album my-5 bg-light">
      <div class="container">
        <h1 class="text-center mb-3" style="color: darkslategrey;">My games</h1>
        <div class="row">
          {% for game in developer_games %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="{{ game.thumbnail.url }}" style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                <p class="card-text"><strong>{{ game.title }}</strong><br>{{ game.description }}</p>
                <div class="row">
                  <a href="{% url 'play' game_title=game.title %}" class="btn btn-sm btn-outline-secondary offset-1 col-md-4">Play</a>
                  <a href="{% url 'leaderboard' game_title=game.title %}" class="btn btn-sm btn-outline-secondary offset-1 col-md-4">Leaderboard</a>
                </div>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

{% else %}
  <div class="alert mt-5 pt-5" role="alert">
    <p class="text-center">Please <a href="{% url 'login' %}">log in</a> to view library content</p>
  </div>
{% endif %}

</main>

<script>
    $("li.library").addClass("active")
</script>
{% endblock %}

