<main role="main">

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
    {% if game_set %}
      {% for game in game_set %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ game.thumbnail.url }}" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">{{ game.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <form action="{{ game.url }}" method="get" id="{{ game.id }}"></form>
                      <button type="submit" class="btn btn-sm btn-outline-secondary" form="{{ game.id }}" value="Submit">Purchase</button>
                    </div>
                  <small class="text-muted">{{ game.price}} money</small>
                  </div>
                </div>
              </div>
            </div>
        {% if forloop.counter|divisibleby:3 %}
          </div>
          <div class="row">
        {% endif %}
      {% endfor %}
    {% else %}
    <p>No games are available.</p>
    {% endif %}
    </div>
  </div>
</div>

</main>

<script>
    $("li.store").addClass("active")
    $('.card-img-top').hover(function(){
        $(this).css("opacity", "0.5");
    }, function(){
        $(this).css("opacity", "1");
    });
    $(".card-img-top").click(function() {
        alert( "Handler for .click() called." );
    });
</script>