{% extends 'store/base.html' %}

{% block title %}Gamestore - Registration{% endblock %}

{% block content %}

<main role="main">
  <div class="justify-content-center row">
    <div style="display: inline-block; margin-top: 20vh">
      <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <input class="form-control" type="text" name="username" maxlength="150" autofocus="" required="" placeholder="Username">
        <p class="ml-3 mt-1" style="color: darkslategrey">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
        <input class="form-control" type="password" name="password1" required="" placeholder="Password">
        <ul class="mr-2 mt-1" style="color: darkslategrey">
          <li>Your password can't be too similar to your other personal information.</li>
          <li>Your password must contain at least 8 characters.</li>
          <li>Your password can't be a commonly used password.</li>
          <li>Your password can't be entirely numeric.</li>
        </ul>
        <input class="form-control" type="password" name="password2" required="" placeholder="Password2">
        <p class="ml-3 mt-1" style="color: darkslategrey">Enter the same password as before, for verification.</p>
        <div class="form-check">
          <label class="form-check-label" style="color: darkslategrey">
            <input name="is_developer" type="checkbox" class="form-check-input">
            Developer
          </label>
        </div>
        <button class="form-control mt-4 btn btn-sm btn-outline-secondary" type="submit">Register</button>
      </form>
    </div>
  </div>
</main>

{% endblock %}